.card__delete-btn {
	position: absolute;
	width: 18px;
	height: 19px;
	top: 20px;
	right: 20px;
	background-image: url(../../../images/Trash.svg);
}

.card__delete-btn:hover {
	opacity: .6;
	cursor: pointer;
}