.form__submit-btn {
	box-sizing: border-box;
	padding: 13px 0;
	border: 1px solid #000;
	border-radius: 2px;
	width: 100%;
	color: #fff;
	background-color: #000;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
}

.form__submit-btn:hover {
	opacity: .8;
	cursor: pointer;
}

@media screen and (max-width: 767px) {
    .form__submit-btn {
		font-size: 14px;
		line-height: 17px;
    }
}