.profile__edit-btn {
	background: none;
	background-image: url(../../../images/Edit-Button.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 0;
	border: 0;
	min-width: 24px;
	height: 24px;
}
.profile__edit-btn:hover {
	opacity: .6;
	cursor: pointer;
}

@media screen and (max-width: 767px) {
    .profile__edit-btn {
		position: absolute;
		min-width: 18px;
		height: 18px;
		bottom: 6px;
		right: -28px;
    }
}