.profile__info {
	width: calc(100% - 270px);
	box-sizing: border-box;
	padding: 0 30px;
	display: flex;
	flex-direction: column;
	gap: 7px;
}

@media screen and (max-width: 767px) {
    .profile__info {
		padding: 0;
		align-items: center;
		margin-bottom: 33px;
    }
}